* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 158, 173, 0.685), rgba(255, 255, 255, 0.685)),
            url("/image/Road to Uranohoshi High School.png");
    background-position: center;
    background-size: cover;
    position: relative;
}